.uk-section-dylan{
    background-color: #70D6FF;
    color: white;
}
.uk-text-dylan{
    color: slategrey;
}
.uk-section-dylan1{
    background-color: #70D6FF;
}
.uk-section-dylan2{
    background-color: #FAF0CA;
}
.uk-section-dylan3{
    background-color: #F4D35E;
}
.uk-section-dylan4{
    background-color: #EE964B;
}
.uk-section-dylan5{
    background-color: #F95738;
}
.uk-section-dylan6{
    background-color: #f0506e;
}
.uk-button-dylan{
    background-color: white;
}
.uk-button-dylan2{
    background-color: red;
}
.form-dylan{
    background-color: blue;
}